<!DOCTYPE html>
<html>
<title>
    Aerendir
</title>

<!--favicon-->
<link rel="shortcut icon" href="./assets/images/icons/Fevicon.png"/>
<link rel="apple-touch-icon" href="./assets/images/icons/Fevicon.png"/>
<link rel="shortcut icon" href="./assets/images/icons/Fevicon.png"/>
<link rel="icon" href="./assets/images/icons/Fevicon.png" type="image/ico"/>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
<link rel="stylesheet" href="./assets/css/ionicons.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<header>
    <div class="container">
        <h1 class="hidden"></h1>

        <a class="navbar-brand" href="/">
            <img src="../assets/images/aerendir-logo.jpg" alt="">
        </a>

        <div class="menu-container">
            <div class="menu">
                <ul>
                    <li><a href="#">NeuroPrint</a></li>
                    <li><a href="http://marioloncarek.com">Company</a>
                        <ul>
                            <li><a href="http://marioloncarek.com">About</a></li>
                            <li><a href="#">Leadership</a></li>
                            <li><a href="#">Texhnology</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </li>
                    <li><a href="http://marioloncarek.com">Blog</a>
                        <ul>
                            <li><a href="http://marioloncarek.com">Today</a></li>
                            <li><a href="#">Calendar</a></li>
                            <li><a href="#">Sport</a></li>
                        </ul>
                    </li>
                    <li><a href="http://marioloncarek.com">FAQ</a>
                    <li><a href="http://marioloncarek.com">Contact</a></li>
                    <li><a href="http://marioloncarek.com"> <img src="./assets/images/6-f.png" alt=""></a>
                    <li><a href="{{ page.url }}" class="banner-learn-more">Learn More</a>
                </ul>
            </div>
        </div>

    </div>
</header>

